<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>

</head>
<body>
<div class="alert alert-info">
    <p th:inline="text">Po wejsciu w link http://localhost:8080/home/ wyswietla sie wszystkie zestawienia dostepnych
        kryptowalut
        aby otrzymac konkretne(co bedzie szybsze) trzeba spreparowac link do postaci
        http://localhost:8080/home/kryptowaluta1,kryptowaluta2 (np.
        http://localhost:8080/home/BTC_XBC,BTC_BTM) <br/>
        Dostepne kryptowaluty [[${avaiableCurrencies}]]
    </p>
</div>
<br/>
<div th:each="comp : ${comparasion}">
    <table th:class="table-bordered">
        <tr align="center">
            <th class="col-md-1" th:text="${comp.key}"></th>
            <th class="col-md-1">BID</th>
            <th class="col-md-1">ASK</th>
            <th class="col-md-1">ASK - BID</th>
            <th class="col-md-1">BID-ASK</th>
            <th class="col-md-1">ASK-BID%</th>
            <th class="col-md-1">BID-ASK%</th>
        </tr>
        <tr align="center">
            <td th:text="${comp.value.firstCryptoMarket.name}"></td>
            <td th:text="${comp.value.firstCryptoMarket.bid}"></td>
            <td th:text="${comp.value.firstCryptoMarket.ask}"></td>
            <td rowspan="2" th:text="${comp.value.askSubstractBid}"></td>
            <td rowspan="2" th:text="${comp.value.bidSubstractAsk}"></td>
            <td rowspan="2" th:class="(${comp.value.askSubstractBidPercent}>2)? 'alert-success'"
                th:text="${comp.value.askSubstractBidPercent}"></td>
            <td rowspan="2" th:class="(${comp.value.bidSubstractAskPercent}>2)? 'alert-success'"
                th:text="${comp.value.bidSubstractAskPercent}"></td>
        </tr>
        <tr align="center">
            <td th:text="${comp.value.secondCryptoMarket.name}"></td>
            <td th:text="${comp.value.secondCryptoMarket.bid}"></td>
            <td th:text="${comp.value.secondCryptoMarket.ask}"></td>
        </tr>
    </table>
    <br/>
</div>
</body>
</html>